<h1>Для админа</h1>
<h4>Введите верные данные админа для вывода списка записанных.</h4>
<%= @error %>
 
  <form action='/admin' method = "POST">   <br/>

Введите логин:  <br/>
  	<input type = 'text' name = "login"/>   <br/>
Введите пароль:   <br/> 	
  	<input type = 'password' name = "password"/>  <br/>
 <input type = 'submit'/>
 </form> 	
 
