
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
	<div class="container">
 
 


  <h1><img src="/pent.jpg" height="30px" width="auto"></img>Приветствую вас в барбершопе  "Supernatural"<img src="/pent.jpg" height="30px" width="auto"></img></h1> 
  <img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100"></img><img src="/kkr.jpg" height="50px" width="100">
<h2 class ="something"> Мы уже открылись! </h2>


<form action='/' method="POST"> <br/>
Введите имя:   <br/>
<input type='text' name = 'user_name'/>       <br/>
     <br/>
Ваш телефон: <br/>
<input tupe='text' name = 'phone'/> <br/>
    <br/>
Дата и время:<br/>
<input type='text' name = 'data_time'/> <br/>
    <br/>

<input type='submit' class="btn btn-info"/>
</form>

</br>
<img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img><img src="/pp.jpg" height="30px" width="30"></img>

</br>
<h1>Наши лучшие работы :)</h1>
<img src="/images.jpg" alt="photo" height="200px" width="110"></img>
<img src="/dean.jpg" height="200px" width="160"></img>
<img src="/sammy.png" height="200px" width="150"></img>
<img src="/samm.jpg" height="200px" width="200"></img>
<img src="/2.jpg" height="200px" width="170"></img>
<img src="/3.jpg" height="200px" width="190"></img>


</div>
</body>
</html>


